body {
    background-color: #20473b;
    color: #7d802a;
    font-family: arial, helvetica, serif;
}
iframe {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #535353;
  border-width: 0 1px 1px 0;
}
